extends layout

block content
  br
  h1(align='center')= title
  p(align='center') Welcome to #{title}

  .cotainer
  .row.justify-content-center
    .col-md-8
      .card
        .card-header Login Form
        .card-body
          form(action='/users/login' method='post' enctype='multipart/form-data')
            .form-group.row
              label.col-md-4.col-form-label.text-md-right(for='username') Username
              .col-md-6
                input.form-control(type='text' name='username' placeholder='Enter Username')
            .form-group.row
              label.col-md-4.col-form-label.text-md-right(for='password') Password
              .col-md-6
                input.form-control(type='password' name='password' placeholder='Enter Password')
            .col-md-6.offset-md-4
              button.btn.btn-primary(type='submit' name='submit' value='Login')
                | Login